<div>
  <div>
    <h1>
      List of all clubs
    </h1>
  </div>
</div>
Select Club
  <select name="query_club_name">
    <%= Club.all.order(:club_name).each do |a_club| %>
      <option value="<%= a_club.id %>">
        <%= a_club.club_name %>
      </option>
    <% end %>
  </select>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Club name
        </th>

        <th>
          Founding year
        </th>

        <th>
          Logo
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_clubs.each do |a_club| %>
      <tr>
     
        <td>
          <%= a_club.club_name %>
        </td>

        <td>
          <%= a_club.founding_year %>
        </td>

        <td>
          <img src="<%= a_club.logo %>"height="100">
        </td>

        <td>
          <a href="/clubs/<%= a_club.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new club
    </h2>

    <form action="/insert_club" method="post">
      <div>
        <label for="club_name_box">
          Club name
        </label>

        <input type="text" id="club_name_box" name="query_club_name">
      </div>

      <div>
        <label for="founding_year_box">
          Founding year
        </label>

        <input type="text" id="founding_year_box" name="query_founding_year">
      </div>

      <div>
        <label for="logo_box">
          Logo
        </label>

        <input type="text" id="logo_box" name="query_logo">
      </div>

      <div>
        <label for="stadium_id_box">
          Stadium
        </label>

        <input type="text" id="stadium_id_box" name="query_stadium_id">
      </div>

      <button>
        Create club
      </button>
    </form>
  </div>
</div>

<hr>
