<div>
  <div>
    <h1>
      List of all seasons
    </h1>
  </div>
</div>
Select Season
  <select name="query_season_year">
    <%= Season.all.order(:season_year => :desc).each do |a_season| %>
      <option value="<%= a_season.id %>">
        <%= a_season.season_year %>
      </option>
    <% end %>
  </select>

<hr>

<div>
  <div>
    <h2>
      Add a new season
    </h2>

    <form action="/insert_season" method="post">
      <div>
        <label for="season_year_box">
          Season year
        </label>

        <input type="text" id="season_year_box" name="query_season_year">
      </div>

      <div>
        <label for="stadium_id_box">
          Final Stadium
        </label>

        <input type="text" id="stadium_id_box" name="query_stadium_id">
      </div>

      <button>
        Create season
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Season year
        </th>

        <th>
          Final Stadium
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_seasons.each do |a_season| %>
      <tr>

        <td>
          <%= a_season.season_year %>
        </td>

        <td>
          <%= a_season.stadium_id %>
        </td>

        <td>
          <a href="/seasons/<%= a_season.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
